
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
/* Set a default style for all slides */
.remark-slide-content {
    background: #272822;
    color: #ffffff; /* White text color */
    font-family: 'Arial', sans-serif;
    
  }
  
  .remark-slide-content img{
    height: 30px; /* Adjust the height of the logos */
    margin: 20px; /* Adds space around each logo */
  }
  /* Add a custom style for headings */
  h1, h2, h3 {
    color: #f3f3f3; /* Lighter text color for headings */
  }
  a{
    color: #f92672;
  }
  p, li {
    color: #ffffff;
  }
  li {
    padding-top: 5px;    /* Space inside the top of each list item */
    padding-bottom: 5px; /* Space inside the bottom of each list item */
  }

  div.my-header {
	background-color: #2c6795;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	text-align: left;
}

div.my-footer {
    /* border-top: 1px solid #ccc; */
    font-size: 10pt;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
    display: flex;
    justify-content: center;
}


div.my-footer img {
	height: 15px;
    width: 100%;
	bottom: 0px;
	left: 0px;
	position: fixed;
}